@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz@8..144&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto Flex',sans-serif;
}

body{
    background-color: #040B14;
    color: #E9EFF3;
}

.material-icons{
    color:E9EFF3;
}

h2{
    font-size:24px;
}

h3{
    font-size:18px;
}

h4{
    font-size: 14px;
}
/*********************************Nav bar*********************************/
header, .logo-container , nav, .logo img, .label-logo-container , .logo{
    display: flex;
    align-items: center;
}

header{  
    height: 104px;
    background-color: #2B2727;
    width: 100%;
    justify-content: space-between;     
    border-bottom: solid 1.5px #579FE0;
    
}



.logo-container{  
    width: 10%;    
    flex-flow: column;
    height: 100px;
}


.logo img{
    height: 82px;
    fill: #B3B9BC;
    flex-flow: row ;
    justify-content: center;
}

.label-logo-container , .logo {
    justify-content: center;
    flex-direction: row;
}

.label-logo-container{
    margin-top: -14px;
}

.label-logo-container h3{
    font-family:'Orbitron', sans-serif;
    font-size: 12px;
    background: linear-gradient(270deg, #B3B9BC -1.95%, #FFFFFF 140.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    line-height: 15px;
    letter-spacing: 0.145em;
    text-indent: 3px; 
}

.material-icons.md-48{
    font-size: 48px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

.material-icons.md-42{
    font-size: 42px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

.material-icons.md-35{
    font-size: 35px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

.material-icons.md-30{
    font-size:30px;
    color:#BBC5D5;
    padding-right:6px;
    padding-top:3px;
}

.material-icons.md-28{
    font-size:28px;
}

.material-icons.md-24{
    font-size:24px;
}

.material-icons.md-26{
    font-size:22px;
    color:#F3851B;
}

/**Menu**/
.menu{
    width: 289px;
    height: 825px;
    background-color: #2B2727;  
    position: fixed;
    z-index: 1;
    top: 106px;
    right: 0;   
    opacity: 0;
}

.show-menu{
   
    position: absolute;    
    opacity: 1;
    transition: 0.4s ease-in-out;
}



li{
    display:flex;
    align-items: flex-end;
    list-style:none;
}

a{
    text-decoration:inherit;
    color: inherit;
    font-size:18px;   
 }


.close-container button{
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;    
}

.close-container{
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-end; 
 padding: 12px 17px 0px 0px; 
}

.label-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-self: start;
    padding: 0px 0px 0px 25px;
}

.menu-categories{
    padding: 10px 0px 20px 45px;
}

.menu-section-divider{
    border-bottom: solid 1px #D9D9D9;
    transform: scaleY(0.5);
}

.menu-section{  
    padding: 5px 0px 5px 0px;
}

.menu-categories-social-network{
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    align-items: center;
    margin: 10px 0px 0px 55px;
}

.menu-categories-social-network .youtube-logo{
    height: 30px;
}

.menu-categories-social-network img{
    height: 25px;
}

.close-section-container{
    position: absolute;
    bottom: 11px;
    right: 10px;
}



.close-section-container ul li{
    align-items: center;
    gap: 3px;
}
 /**Menu**/

/*********************************Nav bar*********************************/

/*********************************Nav bar*********************************/



/********************************BreadCrum******************************/

.breadcrum{
    display: flex;
    flex-flow: row;   
    padding: 20px 0px 0px 38px;
    align-items: center;
}

.breadcrum a{
    font-size: 18px;   
    margin: 0px -5px 0px -5px;
}

.breadcrum p{
    font-size: 18px; 
    margin: 0px -5px 0px -5px;
}

.breadcrum .material-icons{
     color: #E5770E; 
   
}
/********************************BreadCrum******************************/
button{
    width:149px;
    height:36px;
    background-color: #1A4872;
    font-size: 24px;
    color:#E9EFF3;
    border-radius: 5px;
    font-weight: 600;
}
.game{
    padding:34px;
}
;
.space-game{
    height:659pxcky;
    position:sti
}



ul .instructions{
    display:flex;
}


.comment-box{
    background-color:#3272AC;
     opacity:0.15;
}

.game h1, .game h2{
    text-decoration: underline #87B7DA;
    padding:5px 0px 5px 0px;
}

.play-btn{
    background-color: #E9EFF3;
    color: #040B14;
}

.buy-btn{
    background-color:#F3851B;
    color:#040B14;
}
.comment-box-title{
    display:flex;
}


.comment-box-title h4{
    padding:5px;
}

.comment{
    width:73%;
}
.comment-description h3{
    padding-left:5px;
}

input{
    width: 1044px;
    height: 182px;
    border-radius:12px;
    padding:5px;
}

form div {
    display:flex;
    justify-content: space-between;
}

.comment button{
    position: relative;
    left: 910px;
    bottom: -10px;
    border-radius: 5px;
}
/*********************************Footer*********************************/
footer{    
    background-color:#2B2727;
    width:100%;
}

.footer-section-container{
    display: flex;
    flex-flow: row nowrap; 
    justify-content: flex-start;   
}

.fat-footer-returns{
    width: 13%;
    position:relative;
    bottom: -27px;
    left:1300px;

}
.fat-footer-section{
    display: flex;
    width: 100%;
    gap: 50px;
    padding-top:40px;
    padding-left:40px;
  
}

.fat-footer-section li{
    padding: 12px 0px 12px 0px;
}

.fat-footer-section ul{    
    padding:10px 10px;
  
}
.fat-footer-privacy{
    display:flex;
    flex-flow: row nowrap;
    padding: 60px 0px 60px 45px 
}

.fat-footer-privacy ul li{
    display: inline;
    padding: 0px 6px 0px 6px;
}


.footer-reserved{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left:20px;
 
    
    
}

.footer-reserved ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
    margin-right:10px;
}


.copyrights-footer-container{
    width: 64%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 26px;   
}

.copyrights-footer{
    color: #E9EFF3;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-indent: 3px;
    padding-left:10px;
}

.footer-reserved ul li img{
     width: 36px;
     height:36px;
     padding:10px;

}
/*********************************Footer*********************************/