@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz@8..144&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto Flex',sans-serif;
}

body{
    background-color: #040B14;
    color: #E9EFF3;
    width: 100%;
    height: 100%;
}

.material-icons{
    color:#E9EFF3;
}

h1{
    font-size:36px;
    letter-spacing: 7px;
}

h2{
    font-size:24px;
    letter-spacing: 0.10em;
}

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;    
    letter-spacing: 0.03em;    
    color: #E9EFF3;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

h4{
    font-size: 14px;
    letter-spacing: 0.04em;
    text-indent: 3px;
    font-weight: 400;
}
/*********************************Nav bar*********************************/
header, .logo-container ,.logo img, .label-logo-container , .logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

header{     
    height: 78px;
    background-color: #2B2727;
    width: 100%;
    justify-content: space-between;     
    border-bottom: solid 1.5px #579FE0;    
}

.logo-container{  
    width: 35%;    
    flex-flow: column;
    height: 100px;  
    justify-content: center;   
}


.logo img{
    height: 60px;
    fill: #B3B9BC;
    flex-flow: row ;
    justify-content: center;
}

.label-logo-container , .logo {
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.label-logo-container{
    margin-top: -14px;
}

.label-logo-container h3{
    font-family:'Orbitron', sans-serif;
    font-size: 10px;
    background: linear-gradient(270deg, #B3B9BC -1.95%, #FFFFFF 140.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    line-height: 15px;
    letter-spacing: 0.145em;   
}

.material-icons.md-48{
    font-size: 48px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}
/****************************MOVER ARRIBA Y AGRUPAR********/
.material-icons.md-33{
    font-size: 33px;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;

}
.material-icons.md-38{
    font-size: 38px;    
    background: none;
	color: inherit;
	border: none;
    display: block;
}

.material-icons.md-42{
    font-size: 42px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

.material-icons.md-35{
    font-size: 35px;    
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

.material-icons.md-30{
    font-size:30px;
    color:#BBC5D5;
    padding-right:6px;
    padding-top:3px;
}

.material-icons.md-30.disabled{
    color: #414141;
}

.material-icons.md-28{
    font-size:28px;
}

.material-icons.md-24{
    font-size:24px;
}

.material-icons.md-26{
    font-size:22px;
    color:#F3851B;
}

/**Menu**/
.menu{
    width: 100%;
    height: 825px;
      background-color: transparent;
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0;   
    opacity: 0;
}

.menu-btn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.show-menu{   
    position: absolute;    
    opacity: 1;
    z-index: 1;
    transition: 0.4s ease-in-out;
    background-color: #2B2727;
}


li{
    display:flex;
    align-items: flex-end;
    list-style:none;
}

a{
    text-decoration:inherit;
    color: inherit;
    font-size:18px;   
 }


.close-container button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    position: relative;
    top:10px;
    right:10px;
    
}

.close-container{
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-end; 

}

.label-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-self: start;
    padding: 0px 0px 0px 25px;
}

.account-container{
    display: flex;
    width: 100%; 
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 15px;
}

.account{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 75%;
}

.account-img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 5em;
    height: 5em;
    padding-right: 2%;
}

.account-img-container img {
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.email-account-container p {
    font-size: 11px;
    color: #E9EFF34d;
    padding-bottom: 6px;
    position: relative;
    top: 13px;
    
}

.user-name-container  {
    font-size: 14px;
    color: #E9EFF3;
    position:relative;
    top: 8px;
    
}

.config-account{
    width: 18%;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
}


.menu-categories{
    padding: 10px 0px 20px 45px;
}

.menu-section-divider{
    border-bottom: solid 1px #D9D9D9;
    transform: scaleY(0.5);
}

.menu-section-divider-account{
    border-bottom: solid 1px #D9D9D9;
    transform: scaleY(0.5);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu-section{  
    padding-top: 15px;
}

.menu-categories-social-network{
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    align-items: center;
    margin: 10px 0px 0px 55px;
}

.menu-categories-social-network .youtube-logo{
    height: 30px;
}

.menu-categories-social-network img{
    height: 25px;
}

.close-section-container{
    position: absolute;
    bottom: 11px;
    right: 10px;
}



.close-section-container ul li{
    align-items: center;
    gap: 3px;
}
 /**Menu**/

/*********************************Nav bar*********************************/

/*********************************Nav bar*********************************/



/********************************BreadCrum******************************/

.breadcrum{
    display: flex;
    flex-flow: row;      ;
    align-items: center;
}

.breadcrum a{
    font-size: 18px;   
    margin: 0px -5px 0px -5px;
}

.breadcrum p{
    font-size: 18px; 
    margin: 0px -5px 0px -5px;
}

.breadcrum .material-icons{
     color: #E5770E; 
   
}
/********************************BreadCrum******************************/
button{
    background-color: #1A4872;
    border: none;
    color:#E9EFF3;
    border-radius: 5px ;
    font-weight: 600;
}
.game{
    padding:34px;
}

.space-game{
    height:659px;
    position:sticky;
}



ul .instructions{
    display:flex;
}


.comment-box{
    background-color:#3272AC;
     opacity:0.15;
}

.game h1, .game h2{
    text-decoration: underline #87B7DA;
    padding:5px 0px 5px 0px;
}

.play-btn{
    background-color: #E9EFF3;
    color: #040B14;
}

.buy-btn{
    background-color:#F3851B;
    color:#040B14;
}
.comment-box-title{
    display:flex;
}


.comment-box-title h4{
    padding:5px;
}

.comment{
    width:73%;
}
.comment-description h3{
    padding-left:5px;
}

input{
    width: 1044px;
    height: 182px;
    border-radius:12px;
    padding:5px;
}

form div {
    display:flex;
    justify-content: space-between;
}

.comment button{
    position: relative;
    left: 910px;
    bottom: -10px;
    border-radius: 5px;
}


.carousel-pos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding-bottom: 3em;
}

.bullet-carousel-position{
    border-radius: 100%;
    height: 0.6em;
    width: 0.6em;
}

.bullet-inactive{
    background-color: #414141;
}

.bullet-active{
    background: radial-gradient(50% 50% at 50% 50%, #3272AC 17.71%, rgba(26, 72, 114, 0) 86.98%);
    width: 1em;
    height: 1em;
}



/*footer*/

/*********************************Footer*********************************/

footer{    
    width: 100%;
    background-color:#2B2727;
    display:grid;
    grid-template-columns:  140px 30px 138px;
    grid-template-rows: 30px 100px 80px;
    grid-gap:15px;
    grid-template-areas: 
        ". .  returns"
        "privacy privacy social-media"
        "reserved reserved reserved"
    ;
}


.footer-returns{
    grid-area:returns; 
    padding-top:7px;
}


.services{
    grid-area:services;
    display:none;
}

.category{
    grid-area: category;
    display:none;
}

.privacy{
    grid-area: privacy;
    padding-left:20px;
    border-right: solid 1px #E9EFF340;
}

.social-media{
    grid-area: social-media;
    display:flex;
    flex-flow: row nowrap;
    padding: 60px 0px 60px 45px ;
    position: relative;
    bottom: 60px;
}


.footer-reserved{
    grid-area: reserved;
    display:flex;
}

 a{
    font-size:14px;
    padding-bottom:5px;
    margin-right: 5px;
}
.social-media img{
    width:26px;
    padding:6px;
}



.copyrights-footer{
    font-size:10px;
    font-weight: lighter;  
}


.reserve{
    width: 100%;   
    display: flex;
    align-items: center;
}


.copyrights-footer-container{
    display: flex;
    width: 65%;
    flex-flow: row wrap; 
}

.copyrights-footer-container h3 {
    line-height: 12px;
}

.footer-reserved .logo img{
    height:37px;
}

.footer-reserved .logo-container{
    width: 24%;
}

.newRelease-main{
    position: relative;
    overflow: hidden;
}

.title-social-media{
    display:none;

}


.newRelease-smoke-right{
    background: url("../img/smoke-right-new-release.png") no-repeat;
    position: absolute;
    width: 80em;
    top:46em;
    left: 44em;
    z-index: -4;
    height: 80em;
}

.newRelease-smoke-left{
    background: url("../img/smoke-left-newRelease.png") no-repeat;
    position: absolute;
    width: 80em;
    top:52em;
    left: 0em;
    z-index: -4;
    height: 80em;
}

.newRelease-lighting{
    background: url("../img/lighting.png") no-repeat;
    position: absolute;
    width: 80em;
    top:57em;
    left: 10em;
    z-index: -4;
    height: 48em;

}

.social-media{
    right: 56px;
    bottom: 22px;
}

.social-media img{
    width:27px;
}
.copyrights-footer{
    font-size: 8px;
}
.footer-reserved .logo-container {
    width: 20%;
}
.footer-reserved .logo img {
    height: 38px;
}
.footer-reserved .label-logo-container h3 {
    font-size: 6px;
}
.copyrights-footer-container h3 {
    line-height: 10px;
}


/*************new release**********************/

.newRelease-img-container{
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 10px 0px 10px 0px;
}

.newRelease-img-container > div{
    position: absolute;
    top: 14em;
    left: 8em;
}

.newRelease-img-container  h1 {
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 0.145em;
    text-indent: 3px;
    color: #E9EFF3;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
}

.newRelease-img-container img {
    min-height: 100%;
    min-width: 100%;
}

.newRelease-btn-wish-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.5em 0 10px 0;
}

.newRelease-btn-wish-container button {
    width: 14em;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 3px;
    height: 2em;
    transition: background 300ms ease-in-out;
    background-position: 0%;
    background-image: -webkit-linear-gradient(30deg, rgb(26, 72, 114) 50%, transparent 50%);
    background-image: linear-gradient(30deg,rgb(26, 72, 114) 50%, transparent 50%);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.newRelease-btn-wish-container button:hover{
    background-color: #F3851B;
    background-position: 100%;
    cursor: pointer;

}

.newRelease-sale-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 13px 13px 0px;
}

.newRelease-new-sale{
    height: 150px;
    display: flex;
    width: 40em;
    flex-flow: column;
    padding: 0px 10px 10px 10px;
}

.newRelease-price{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.newRelease-new-release-header{
    width: 100%;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid grey;

}

.newRelease-label{
    background-color: #3272AC36;
    display: flex;
    height: 100%;
    padding: 5px 2px 0px 6px;
}

.newRelease-release-date-container{
    display: flex;
    flex-flow: column;
    width: 63%;
}

.newRelease-new-release-header > section{
    display: flex;
    flex-flow: column;
    width: 63%;

}

.newRelease-promotion-label{
    font-size: 14px;
    color: #C1BDBD;
    padding: 5px 3px 0px 3px;

}
.newRelease-label p{
    font-size: 16px;

}
.newRelease-price-label{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 2px;
}

.newRelease-price-label h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.065em;
}


.newRelease-price-label-container{
    background-color: #02213F;
    border-left: 1px solid grey;
    padding: 0px 0px 0px 2px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.newRelease-new-release-header > section ~ section {
    background-color: #02213F;
    padding: 0px 0px 0px 2px;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.newRelease-new-sale article {
    display: flex;
    height: 4.5em;
    align-items: center;
    width: 100%;
    flex-flow: row;
    background-color: #091829;
}

.newRelease-new-sale article div{
    display: flex;
    width: 63%;
    height: 2em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;

}


.buy-now {
    text-decoration: none;
    font-size: 24px;
}
.buy-now span {
    padding: 8px 8px 8px 1px;
    transition: .5s;
    position: relative;
}
.buy-now span:nth-child(1) {
    color: #fff;
    background: #262626;
}
.buy-now span:nth-child(2) {
    color: #fff;

}
.buy-now span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #F3851B;
    padding: 8px 8px 8px 8px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
}
.buy-now:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
}
.buy-now span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 8px 8px 8px 1px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}
.buy-now:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
}
.buy-now  span:nth-child(1):after {
    content: attr(data-attr);
    padding: 8px 8px 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
}
.buy-now:hover span:nth-child(1):after {
    transform: rotateX(90deg) translateY(50%);
}
.buy-now span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #F3851B;
    padding: 8px 8px 8px 1px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
}
.buy-now:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
}


.newRelease-new-sale article div p {
    font-size: 11px;
    color: #C1BDBDAB;
}

.newRelease-new-sale article div ~ div {
    display: flex;
    width: 30%;
}

.newRelease-new-sale article button {
    background-color: #F3851B;
    width: 12em;
    height: 2em;
    font-size: 1.1em;
}

.newRelease-game-history {
    padding-left: 1em;
}

.newRelease-game-history {
    padding-top: 55px;
    gap: 0.5em;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-flow: row wrap;
}

.newRelease-game-history h2 , .newRelease-game-history p {
    padding: 2px 10px 0px 10px ;
}

.newRelease-game-history h2 , .newRelease-game-feature-container h2 {
    padding-bottom: 18px;
    text-decoration:  underline;
    text-decoration-color: #87B7DA;
    line-height: 1px;
    text-underline-offset: 6px;
    text-decoration-thickness:0.05em;
    font-size: 30px;
}

.newRelease-game-history p {
    color: #E9EFF3;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.newRelease-game-feature-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 0.3em;
    padding-top: 5em;
    padding-left: 1.6em;
}

.newRelease-game-feature-container section {
    padding-top: 5px;
    display: flex;
    width: 100%;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row  wrap;
}

.newRelease-feature{
    width: 90px;
    height: 90px;
    background-color: #4D4949;
    border: solid 2px #888282;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.newRelease-feature:hover{
    transition: all 400ms ease-in-out;
    border-color: #F3851B;
    transform: scale(1.1);
}

.newRelease-feature:hover  .material-icons  {
    color: #F3851B;
    transition: all 200ms ease-in-out;
    transform: scale(1.3);
}

.newRelease-feature:hover  p{
    color: #F3851B;
    transition: all 200ms ease-in-out;
    transform: scale(0.9);
}

.newRelease-feature p {
    font-size: 14px;
    text-align: center;
}



.newRelease-characters-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: row;
    padding-bottom: 14px;
}

.newRelease-characters-container button{
    background-color: inherit;
}

.newRelease-characters-carousel-display{
    overflow: hidden;
    width: 235%;
    padding-top: 5em;
    display: block;
}

.newRelease-carousel{
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    flex-flow: row;
    transform: translate(0px);
}

.newRelease-card{
    background: rgba(20, 36, 59, 0.56);
    display: flex;
    width: 125px;
    flex-flow: column;
    border-radius: 3px;
    align-items: center;
    border: 0.003em solid #2c2b2b;
    gap: 5px;
    height: 265px;
    justify-content: space-evenly;
}

.newRelease-card-label{
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    width: 95%;
    background: rgba(4, 11, 20, 0.49);
    box-shadow: 2px 2px 10px rgba(233, 239, 243, 0.15);

}

.newRelease-card-label h3{
    font-size: 13px;
}

.newRelease-character-card-container{
    height: 95px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.newRelease-character-description{
    display: flex;
    justify-content: center;
    flex-flow: row;
    background: rgba(4, 11, 20, 0.28);
    box-shadow: 1px 1px 12px rgba(233, 239, 243, 0.26);
    border-radius: 6px;
    width: 93%;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 80px;
    overflow: scroll;

}

.newRelease-character-description p{
    font-size: 10px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.btn-carousel{
    color: #E9EFF3;
    font-size: 30px;
}

.btn-disabled{
    color: #353535;
    pointer-events: none;
}

.newRelease-character-card-container img {
    max-width: 100%;
    max-height: 100%;
}

.newRelease-superpower-container{
    display: none;
}

.newRelease-superpower-container li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    font-weight: 600;
    color: #E9EFF3;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    font-size: 1.20em;
    letter-spacing: 0.065em;

}

.newRelease-superpower-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4em;
}

.newRelease-list-superpower{
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #3272AC 17.71%, rgba(26, 72, 114, 0) 86.98%);
}
.newRelease-card-footer{
    display: none;
}

.newRelease-card-smoke-container{
    height: 220em;
    width: 14em;
    z-index: -4;
    display: none;


}

/*************new release********/


/*******************************Home*************************/
.home-advertising{
   display:none;
}
.home h1{
    font-size: 16px;
    letter-spacing: 4px;
    padding: 30px 0px 0px 13px;
}

.home h2{
    padding: 5px 8px;
    font-size: 12px;
}

.home h3{
    font-size: 10px;
    padding:5px 10px;
}

.home-latest-releases button{
    display: none;
}

.home .material-icons.md-33 {
    font-size: 20px;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}
.home-carrousel-next-btn{
    margin-right: 10px;
}
.home-latest-releases{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 11px 0px 11px;
}
.home-latest-releases-image {
    width: 100%;
    background-color: #02213F;
    margin: 10px;
}

.home-latest-releases-image>div>img{
    height: 140px;
    width: 100%;
}

.home-latest-releases-image-container{
    padding:4px 9px;
}

.home-latest-releases-image-container div{
    display: flex;
    padding: 4px 0px;
    width: 100%;
    height: 73px;
    justify-content: space-between;
}

.home-latest-releases-image-container div img{
    padding:0px 6px;
}

.home-latest-releases .home-latest-text{
    height:26px;
   
}
.home-latest-releases .home-latest-see-more{
    display:block;
    width: 63px;
    height: 21px;
    font-size: 10px;
    border: 0.5px solid #E9EFF3;
    background: transparent;
    padding: 0;
    border-radius: 0px;
    position: relative;
    top: 4px;
}
.home-carrousel{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding:10px 0px 10px 6px;
    overflow: hidden;
}


.home-carrousel-conteiner {
    display: flex;
    gap: 10px;
    width: fit-content; 
    transform: translateX(0px);
 
}
.home-carrousel-latest-releases-conteiner.translated{
    transform: translateX(-100%);
}

.home-latest-releases button,.home-carrousel-recommended button, .home-carrousel-category button{
    width: 18px;
    height: 37px;
    border-radius: 3px;
    background: linear-gradient(84.33deg, #1A4872 -75.68%, rgba(26, 72, 114, 0) 472.36%);
    padding: 4px;
}


.home-latest-releases button ~ button,.home-carrousel-recommended button ~ button, .home-carrousel-category button ~ button{
    transform: rotate(180deg);
}
/*home-latest-realeses button{ //COLOR CUANDO CIRCLE ESTA EN 1 PARA EL BOTON IZQUIERDO, 2 PARA EL BOTON DERECHO.
        background: linear-gradient(258.4deg, rgba(50, 114, 172, 0.15) 9.17%, rgba(2, 33, 63, 0) 220.5%);
}*/

.home-carrousel-card{
    width: 126px;
    height: 191px;
    background-color: #14243B;
    filter: drop-shadow(4px 5px 4px rgb(26, 72, 114, 0.62));
}
.home-carrousel-display{
    gap: 9px;     
    margin:0px 3px 0px 3px;
    overflow: hidden;
}

.home-carrousel-card>div{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 91px;
}

.home-carrousel-card h3{
    position: relative;
    top:33px;
    font-size: 10px;
}
.home-carrousel-card h4{
    font-size:8px;
    position:relative;
    top:40px;
    left:7px;
    color:#B3B9BC;
    text-decoration:line-through;
}
.home-carrousel-card button{
    font-size: 10px;
    width: 66px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 9px;
    position: relative;
    left: 55px;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color:linear-gradient(93.53deg, rgba(39, 94, 133, 0.96) -11.85%, rgba(95, 170, 225, 0.96) 73.08%, rgba(0, 4, 7, 0.96) 120.55%, rgba(129, 186, 227, 0.96) 140.7%);
}

.home-carrousel-card h3.free{
    top: 38px;
}

.home-carrousel-card button.free {
    top: 10px;
    left: 55px;
}
.home-carrousel-card h3.more-text{
    top: 32px;
}


.home-carrousel-card button span{
    position: relative;
    left: -13px
}

.home-card-trial,.home-card-new{
    height: 28px;
    width: 63px;
    transform: skewX(114deg) rotate(41deg);
    position: fixed;
    bottom: 244px;
    right: 120px;
}

.home-card-trial{
    background-color: #E5770E;
}

.home-card-new{
    background-color: #3272AC;
    width: 33px;
}

.home-trial-text{
    color:#2B2727;
    position: relative;
    left: -10px;
    top: -310px;
    font-size: 18px;
}




@media only screen and (min-width: 768px) {

    /*Logo*/
    .logo-container{
        width: 18%;
    }


    nav{
        width: 11%;
    }
    .menu{
        width: 46%;
        position: absolute;
        top:80px;
    }

    /*footer*/
    footer {
        grid-template-columns: 263px 183px 200px 180px;
        grid-template-rows: 30px 122px 80px;
        grid-gap:15px;
        grid-template-areas: 
        ". . . returns"
        "services privacy social-media ."
        "reserved reserved reserved ."
    ;
    }
    .reserve{
        margin-top: 0px;
    }
    .services{
        display: inline-block;
        width: 180px;
        margin-left:60px;
        border-right: solid 1px #E9EFF340;
    }
    .footer-returns{
        position: relative;
        right:100px;
    }

    .social-media{
        bottom:73px;
    }
    .social-media img {
        width: 26px;
        position: relative;
        right: -23px;
        padding: 9px;
    }
    .footer-reserved .label-logo-container h3 {
        font-size: 8px;
    }
    .footer-reserved .logo img {
        height: 45px;
    }
}



    



@media only screen and (min-width: 1024px ) {
    .logo img {
        height: 72px;
    }

    .menu{
        width: 30%;
        height: 680px;
    }

    .logo-container{
        width: 12%;
    }


    /*footer*/
    footer {
        grid-template-columns: 278px 200px 220px 180px 180px 200px;
        grid-template-rows: 30px 230px 80px;
        grid-gap:15px;
        grid-template-areas:
    ". . . . . returns"
    "services category privacy social-media . ."
    "reserved reserved reserved reserved . ."
    ;
    }
    a{
        font-size: 18px;
    }
    .footer-returns{
        right: -10px;
        padding-top:16px;
    }
    .services{
        display: inline-block;
        width:227px;
        margin-left:44px
    }
    .category{
        display: inline-block;
        border-right: solid 1px #E9EFF340;
    }

    .title-social-media{
        display:inline-block;
        position:relative;
        top:40px;
        left:770px;
    }
    .social-media{
        right: 49px;
        bottom: 75px;
    }

    .social-media img{
        width:40px;
    }
    .copyrights-footer{
        font-size: 18px;
    }
    .footer-reserved .logo-container {
        width: 20%;
    }
    .footer-reserved .logo img {
        height: 58px;
    }
    .footer-reserved .label-logo-container h3 {
        font-size: 10px;
    }
    .copyrights-footer-container h3 {
        line-height: 21px;
    }

    .copyrights-footer-container {
        width: 85%;
    }
    .newRelease-card{
        width: 235px;
        height: 413px;
    }

    .newRelease-character-description{
        width: 95%;
        height: 35%;
    }

    .newRelease-character-description::-webkit-scrollbar {
        display: none;
    }

    .newRelease-character-description p{
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.03em;
    }

    .newRelease-character-card-container{
        width: 95%;
        height: 40%;
    }

    .newRelease-card-label{
        width: 95%;
        height: 10%;
    }

    .newRelease-card-label h3{
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.065em;
    }

    .newRelease-card:hover{
        position: relative;
    }

    .newRelease-card:hover > .newRelease-card-label  {
        border-top: 3px solid rgba(138, 155, 181, 0.38);
        box-shadow: none;
        width: 93%;
        transition: all 800ms;
        z-index: 4;
        position: relative;
        top:1em;
        background: transparent radial-gradient(92.51% 92.51% at 0% 3.55%, rgba(20, 36, 59, 0.56) 0%, rgba(20, 36, 59, 0) 100%);

    }

    .newRelease-card:hover > .newRelease-card-label h3 {
        font-size: 27px;
        transition: all 800ms;
        z-index: 4;

    }


    .newRelease-card:hover > .newRelease-character-description {
        height: 0;
        width: 0;
        display: none;
        z-index: 4;
        position: relative;
        transition: all 100ms;
    }

    .newRelease-card:hover >  .newRelease-character-card-container{
        width: 60%;
        position: relative;
        bottom: -2.2em;
        transition: all 300ms;
        z-index: 4;
    }

    .newRelease-card:hover > .newRelease-character-description p {
        display: none;
        position: relative;
    }

    .newRelease-card:hover{
        background: transparent radial-gradient(92.51% 92.51% at 0% 3.55%, rgba(20, 36, 59, 0.56) 0%, rgba(20, 36, 59, 0) 100%);
        transition: all 800ms;
        z-index: 4;
    }

    .newRelease-card:hover > .newRelease-superpower-container{
        display: block;
        position: relative;
        top: 2em;
        z-index: 4;
    }

    .newRelease-card:hover > .newRelease-card-footer{
        width: 93%;
        display: flex;
        justify-content: center;
        border-top: 3px solid rgba(138, 155, 181, 0.38);
        box-shadow: 0px 5px 10px #3272AC;
        background-color: transparent;
        position: relative;
        bottom: -0.4em;
        z-index: 4;
    }


    .newRelease-card:hover > .newRelease-card-smoke-container{
        display: block;
        z-index: -1;
        position: absolute;
        background-image: url('../img/Smoke-release-card.png');
        background-repeat: no-repeat;
        background-size: cover;
        top: -1em;
        height: 23em;
        width: 18em;
    }

    .newRelease-new-sale-container{
        display: flex;
        padding-top: 1.5em;
        align-items: center;
        justify-content: center;
    }

    nav button{
        position: relative;
        right: 2em;
        top:0.3em;
    }

    .breadcrumb{
        padding:1em 0 0.5em 1em;
    }

    .breadcrumb ul {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .breadcrumb li , .breadcrumb ul li span a  {
        font-size: 20px;
    }

    .breadcrumb-tab-selected{
        color: #F3851B;
    }

    .breadcrumb .material-icons {
        font-size: 24px;
        color: #F3851B;
    }

    .btn-carousel {
        font-size: 55px;
    }

    .home h1{
        font-size:40px;
        letter-spacing: 7px;
    }
    .home h2{
        font-size: revert;
        padding: 5px 0px;
    }
    .home h3{
        font-size: revert;

    }
    .home h4{
        font-size: revert;

    }
    .home h1,.home-advertising{
        padding:30px 0px 30px 30px;
    }
    .home-advertising{
       display:flex;
       width:100%;
        margin: 0px 0px 50px 60px;
        height: 240px;
    }
    .home-advertising>img:first-child{
        width:80%%;
    }
    .home-advertising div:last-child{
        position: relative;
        left: -220px;
        width:39%;


    }
    .home-latest-releases{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-latest-releases-image {
        width: 100%;
        height: 410px;
        display: flex;
        justify-content: center;
        background-color: #02213F;
        margin: 10px;
    }
    
    .home-latest-releases-image>div{
        width:70%;
    }
    .home-latest-releases-image-container{
        padding:25px 25px;
    }
    
    .home-latest-releases-image-container{
        margin-bottom: 20px;
    }
    .home-latest-releases-image-container div{
        display: flex;
        padding: 6px 0px;
       /* width: 344px;*/
       width: 100%;
        height: 114px;
        margin-top:8px;
    }
    .home-latest-releases-image>div>img{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
    .home-latest-releases-image-container div img{
        padding:0px 6px;
        filter: blur(1px);
    }
    
    .home-latest-releases-image-container div img:hover{
        box-shadow:none;
        filter:inherit;
    }
    .home-latest-text{
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        top: 13px;
    }
    .home-latest .home-latest-releases-container{
        display:flex;
        overflow: hidden;
        width: fit-content;
    }
    .home-latest-releases .home-latest-see-more{
        width: 86px;
        height: 36px;
        border: 0.5px solid #E9EFF3;
        background: transparent;
        padding: 0PX;
        border-radius: 0PX;
        margin-right: 6px;
        font-size: 16px;
        top:0px;
    }

    .home .material-icons.md-33 {
        font-size: 33px;
    }
    .home-carrousel{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding:18px 6px;
        overflow: hidden;
    }
    
    
    .home-carrousel-conteiner {
        display: flex;
        gap: 12px;
        width: fit-content; 
        transform: translateX(0px);
     
    }
    .home-carrousel-latest-releases-conteiner.translated{
        transform: translateX(-100%);
    }
    
    .home-latest-releases button,.home-carrousel-recommended button, .home-carrousel-category button{
        display:block;
        width:45px;
        height:80px;
        border-radius:3px;
        background: linear-gradient(84.33deg, #1A4872 -75.68%, rgba(26, 72, 114, 0) 472.36%);
        padding:10px;
    }
    
    .home-latest-releases button ~ button,.home-carrousel-recommended button ~ button, .home-carrousel-category button ~ button{
        transform: rotate(180deg);
        padding-top: 14px;
    }
    /*home-latest-realeses button{ //COLOR CUANDO CIRCLE ESTA EN 1 PARA EL BOTON IZQUIERDO, 2 PARA EL BOTON DERECHO.
            background: linear-gradient(258.4deg, rgba(50, 114, 172, 0.15) 9.17%, rgba(2, 33, 63, 0) 220.5%);
    }*/
    
    .home-carrousel-card{
        width: 250px;
        height: 325px;
    }
    .home-carrousel-display{
        gap: 13px;     
        margin:0px 8px 0px 8px;
        overflow: hidden;
    }
    
    .home-carrousel-card>div{
        display: flex;
        width: 100%;
        justify-content: center;
        height:auto;
    }
    .home-carrousel-card h2{
        position: relative;
        left: 20px;
        top:8px;
    }
    .home-carrousel-card h3{
        position: relative;
        top:46px;
        left: 10px;
    }
    .home-carrousel-card h4{
        position:relative;
        top:50px;
        left:18px;
        color:#B3B9BC;
        text-decoration:line-through;
    }
    .home-carrousel-card button{
        font-size: 20px;
        width: 115px;
        height: 37px;
        display: flex;
        align-items: center;
        padding-left: 18px;
        position: relative;
        left: 130px;
        top: 6px;
    }
    .home-carrousel-card button .material-icons.md-42 {
        font-size: 60px;
    }
    .home-carrousel-card h3.free{
        top: 60px;
    }
    
    .home-carrousel-card button.free{
        top: 28px;
        left:129px;
    }
    .home-carrousel-card h3.more-text{
        top: 32px;
    }
    
    .home-carrousel-card button.more-text{
        top: -4px;
    }
    
    .home-carrousel-card button span{
        position: relative;
        left: -13px
    }
    
    .home-card-trial,.home-card-new{
        height: 28px;
        width: 63px;
        transform: skewX(114deg) rotate(41deg);
        position: fixed;
        bottom: 244px;
        right: 120px;
    }
    
    .home-card-trial{
        background-color: #E5770E;
    }
    
    .home-card-new{
        background-color: #3272AC;
        width: 33px;
    }
    
    .home-trial-text{
        color:#2B2727;
        position: relative;
        left: -10px;
        top: -310px;
        font-size: 18px;
    }
    
    .home-carrousel-category, .home-carrousel-recommended,.home-latest{
        margin-bottom: 50px;
    }
    
    
    
}
